@using BankTransaction.Models;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "Amin Panel";
}
<p>Tabela Histori Przelewów</p>
@foreach(var item in Model.Item1)
{
    <div>
        <span style="margin-right: 10px">@item.Amount</span>
        <span style="margin-right: 10px">@item.User?.Email</span>
        <span style="margin-right: 10px">@item.BeneficiaryName</span>
    </div>
}
<p>Stan konta z klientami</p>
@foreach (var item in Model.Item2)
{
    <div>
        <span style="margin-right: 10px">@item.AccountBalance</span>
        <span>@item.Email</span>
    </div>
}
