@model BankTransaction.Models.User

@{
    ViewData["Title"] = "Index";
}

<div class="form-group" >
    <div class="size-box">
    <img src="/img/norwegia-odzie-gory-zima.jpeg" alt="Avatar" class="avatar" />
    <h1>Account Number</h1>
    <h4>@Html.DisplayNameFor(number => number.AccountNumber) @Model.AccountNumber</h4>
    <h2>@User.Identity?.Name</h2>
    <h3>@Html.DisplayNameFor(model => model.AccountBalance): @Model.AccountBalance</h3>
    <form method="get" action="/Profile/AddMoney">
        <input id="amount" name="amount" type="number" placeholder="Amount" min="0" step="0.01" />
        <input type="submit" value="Get an inheritance" />
    </form> 
    <form method="get" action="/Profile/ConvertToEuro">
        <input id="amount2" name="amount" type="number" placeholder="Amount" min="0" step="0.01" />
        <input type="submit" value="Change to Euro" />
    </form>
    <form method="get" action="/Profile/ConvertToDolar">
        <input id="amount3" name="amount" type="number" placeholder="Amount" min="0" step="0.01" />
        <input type="submit" value="Change to Dolar" />
    </form>
     @*   <script>
                    function myFunction() {
                        var x = document.getElementById("amount").value;
                        document.getElementById("demo").innerHTML = x;
                    }
        </script>*@
</div>
</div>


